pipeline/GetTableListAndTriggerCopyData.json
{
	"name": "GetTableListAndTriggerCopyData",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList",
				"description": "Retrieve the table list from my database ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "triggercoapy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IterateAndCopySQLTables1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"tableList": {
							"value": "@activity('LookupTableList').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-08-15T09:14:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}